* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

main {
	display: flex;
	justify-content: center;
	align-content: flex-start;
}

	.container { background-color: #333;
		display: inline-grid;
		column-gap: 1px;
		row-gap: 1px;
		grid-template-columns: repeat(5, 70px);
		grid-template-rows: repeat(5, 70px);
		border: 16px solid #222;
		border-bottom: 16px solid yellow;
		user-select: none;	
	}

.box { background-color: #111;
	padding: 25px;
	border-radius: 5px;
	font-size: 16px;
	height: 70px;
	width:70px;
	color:gray;
}

.ghost {
	border: 10px solid rgba(255,255,255, 0.3);
	padding: 14px;
}

.droped {
	background-color: gray
}

#tetris-bag, #hold-bag {
	text-align: center;
	white-space: pre-line;
	user-select: none;
	color: white;
	width: 80px;
}

p {
	color: white;
	text-align: center;
	margin-bottom: 10px;
	font-family: "arial";
	font-weight: bold;
}

